* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.nav-item a.active {
    border-bottom: 3px solid #BDA271;
    /* #ecf0f1; */
}
.navbar {
    background-color: #1976d2;
    background: #42a5f5;
    color: #fff;
    padding-top: 0;
}

.logo {
    height: 30px;
    margin-right: 1em;
    margin-left: .5em;
    padding:0;
}

section {
    min-height: 100vh;
    text-align: center;
    padding-top: 3.5em;
}

#home {
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

#intro h1 {
    font-size: 75px;
}

/* #intro h1 {
    border-bottom: 0.25em solid #000;
} */
#intro em {
    font-style: normal;
    color:#BDA271;
}