html, body {
    height: 100%;
    width: 100%;
}

.section {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 5%;
}

#home {
    background: url(img/mountains.jpeg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}